@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff: "Work Sans", sans serif;

    --fw-regular: 400;
    --fw-semibold:600;
    --fw-bold:700;

    --clr-primary-100:hsl(275, 100%, 97%);
    --clr-primary-600:hsl(292, 16%, 49%);
    --clr-primary-750: #AD28EB;
    --clr-primary-950:hsl(292, 42%, 14%);
    --clr-neutral:hsl(0, 100%, 100%);
}

*{
     margin: 0;
    padding: 0;
}

html{
    font-family: var(--ff);
    font-size: 1rem;
    line-height: 1.4;

}

body{
    background-color: var(--clr-primary-100);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg_pattern_desktop{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -10;
    
}

.bg_pattern_mobile{
    display: none;
}

.container{
    z-index: 0;
    max-width: 600px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    margin: 4rem 1.5rem;
    background-color: var(--clr-neutral);
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(19, 19, 19, 0.3);
}

.title{
    display: flex;
}

h1{
    margin-inline-start: 1rem;
}

span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block:1rem ;
}

hr{
    border-top: 1px solid hsl(0, 2%, 90%);
}

.parent img{
    cursor: pointer;
}

h3:hover{
    color: var(--clr-primary-750);
    cursor: pointer;
}

.btn{
    border: none;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

.child{
    padding-block: 1rem;
}

.child p{
    color: hsl(0, 0%, 32%);
}

footer{
    /* position: absolute;
    bottom: 0; */

}

footer p{
    text-align: center;
    margin: 1rem;
    color: black;
}

footer a{
    text-decoration: none;
     color: black;
}

footer a:hover{
    color: var(--clr-primary-750);
}

@media(max-width:800px){
    .bg_pattern_desktop{
        display: none;
    }
    .bg_pattern_mobile{
       display: block;
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: cover;
        z-index: -10;
        
    }
}